body {
	background: white;
	position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: 80%;
}

table {
	padding: 3px;
	border-style: solid;
}

#Good-Website h1{
	text-align: center;
}

.ol {
	font-family: arial;
}
#Link p{
	color: green; 
}

@media screen and (max-width: 300px) {
  body {
  	background: lightblue;
    font-size: 10px;
  }
}